{% extends "base.html" %}

{% block sub_title %}Regist Complete{% endblock %}

{% block content %}
<div id="content-main" class="span-13 prepend-1 colborder">
	<div class="success">
		<p>You have successfully registered a new account, and an account activation url has been sent to your e-mail address. You must access this message on your e-mail account to finish the registration process.</p>
	</div>
</div><!-- END content-main -->
<div id="content_related" class="span-8 last">		
</div><!-- END content-related -->
{% endblock %}